<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,400;0,500;1,300&display=swap" rel="stylesheet">
</head>
<style>

body {
    background-color: rgb(25, 25, 24);
}

.dash {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: #D6EAF8;
    width: 300px;
    height: 400px;
    padding: 20px 50px 30px 50px;
    box-shadow: 10px 10px #5D6D7E;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 550px;
}
</style>
<body>
    <div class="dash">
    <h1>Welcome <%= name %></h1>
    <a href="/users/logout">Logout</a>
    <h4>Delete your account <a href="/delete" action="/delete" method="delete">here</a></h4> 
    </div>
</body>
</html>
